# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Entornos virtuales
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
*.log

# Variables de entorno
.env

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
